<div class="sec1">

    <div class="carousel-inner">

      <div class="">
        <div class="bg">
          <div class="inner">
            <h2>Title</h2>
            <p>simple text</p>
          </div>
        </div>
        <img src="assets/img/contact.jpg" class="d-block w-100 img-fluid" alt="...">
      </div>

    </div>


</div>


<div class="text-center">
  <h2>About Us</h2>
  <hr>
  <p>along text</p>
</div>

<h2 class="text-center">The Developers</h2>
<hr>
<div class="sec2">
  <div class="card">
    <img src="assets/img/te.jpg" class="img-fluid">
    <h2>Abdo Harby</h2>
    <h3>Web Developer</h3>
  </div>
  <div class="card">
    <img src="assets/img/te1.jpg" class="img-fluid">
    <h2>Abdo Harby</h2>
    <h3>Web Developer</h3>
  </div>
  <div class="card">
    <img src="assets/img/te2.jpg" class="img-fluid">
    <h2>Abdo Harby</h2>
    <h3>Web Developer</h3>
  </div>
</div>

<div class="doc">

  <div>
    <h2>
      الدكتور الفرفوش رزق
    </h2>
    <p>
      اي كلمتين تطبيل علشان الدرجات الحلوه
    </p>
  </div>
  <img src="assets/img/6.jpg" class="img-fluid">
</div>
