<div class="sec1">

  <div class="carousel-inner">

    <div class="">
      <!--      <div class="bg">-->
      <!--        <div class="inner">-->
      <!--          <h2>Title</h2>-->
      <!--          <p>simple text</p>-->
      <!--        </div>-->
      <!--      </div>-->
      <img src="assets/img/18298.jpg" class="d-block w-100 img-fluid" alt="...">
    </div>

  </div>
</div>


<div class="sec2">

  <div class="text-center outCard">
    <div class="card" id="card">
      <div class="innerCard" id="innerCard">
        <h3>دا بتاع</h3>
        <p>مش عارف هو ايه علشان اقولك انت ممكن تعمل بيه ايه اصلا</p>
      </div>
    </div>
    <button class="btn btn-primary" routerLink="/gallery">Learn More</button>
  </div>
  <div class="text-center outCard">
    <div class="card" id="card2">
      <div class="innerCard" id="innerCard2">
        <h3>دا بتاع</h3>
        <p>مش عارف هو ايه علشان اقولك انت ممكن تعمل بيه ايه اصلا</p>
      </div>
    </div>
    <button class="btn btn-primary" routerLink="/gallery">Learn More</button>
  </div>
  <div class="text-center outCard">
    <div class="card" id="card3">
      <div class="innerCard" id="innerCard3">
        <h3>دا بتاع</h3>
        <p>مش عارف هو ايه علشان اقولك انت ممكن تعمل بيه ايه اصلا</p>
      </div>
    </div>
    <button class="btn btn-primary" routerLink="/gallery">Learn More</button>
  </div>
  <div class="text-center outCard">
    <div class="card" id="card4">
      <div class="innerCard" id="innerCard4">
        <h3>دا بتاع</h3>
        <p>مش عارف هو ايه علشان اقولك انت ممكن تعمل بيه ايه اصلا</p>
      </div>
    </div>
    <button class="btn btn-primary" routerLink="/gallery">Learn More</button>
  </div>

</div>
