.sec1 img{
  height: 400px;

}
.bg{
  width: 100%;
  height: 400px;
  position: absolute;
  background: rgba(128, 128, 128, 0.3);
}
.inner{
  position: relative;
  top: 120px;
  left: 20%;
  color: white;
}
.form{
  width: 60%;
  margin: auto;
}
