<div class="sec1">

  <div class="carousel-inner">

    <div class="">
            <div class="bg">
              <div class="inner">
                <h2>Title</h2>
                <p>simple text</p>
              </div>
            </div>
      <img src="assets/img/profile.jpg" class="d-block w-100 img-fluid" alt="...">
    </div>

  </div>
</div>
<div class="text-center">
  <h3>Start Your Work</h3>
  <hr>
  <form>
    <div>
      <label>Land Area</label>
      <input type="number" class="form-control" placeholder="Land Area">
    </div>
    <div>
      <label>Type of crop</label>
      <select class="form-control">
        <option>please choose one</option>
        <option>خيار</option>
        <option>خيار</option>
      </select>
    </div>

  </form>
</div>
<hr>
<h3 class="text-center">Your Projects</h3>
<hr>
<div class="sec2">

  <div class="card">
<img src="assets/img/pi2.jpg" class="img-fluid">
    <div class="bg">
      <h4> <span>Name : </span>  جوافه</h4>
      <hr>
      <h5> <span>Land Area : </span>  20M</h5>
      <hr>
      <h5> <span>Water Liters : </span>  20L</h5>
      <hr>
      <h5> <span>Fertilizer : </span>  مش عارف دا ايه</h5>
      <hr>
      <h5> <span>Days : </span>  120D</h5>
    </div>
  </div>



</div>
