<div class="sec1">

  <div class="carousel-inner">

    <div class="">
            <div class="bg">
              <div class="inner">
                <h2>Title</h2>
                <p>simple text</p>
              </div>
            </div>
      <img src="assets/img/profile.jpg" class="d-block w-100 img-fluid" alt="...">
    </div>

  </div>
</div>
<div class="text-center">
  <h3>Start Your Work</h3>
  <hr>
  <form >

    <div>
      <label>Land Area</label>
      <input type="number" class="form-control" placeholder="Land Area"   required id="landArea">
    </div>
    <div>
      <label>Type of crop</label>
      <select class="form-control"   required  id="plants">
        <option>please choose one</option>
        <option>potato</option>
        <option>okra</option>
        <option>cucumber</option>
        <!--<option *ngFor="let x of plants" [value]="x.id"  >{{x.name}}</option>-->
      </select>
    </div>
    <br>
    <div class="mt-5">
        <button class="btn btn-info ADD" type="submit" >ADD</button>
    </div>
  </form>
</div>
<hr>
<h3 class="text-center">Your Projects</h3>
<hr>
<div class="sec2">

  <div class="card" id="card">
<img src="assets/img/20.jpg" class="img-fluid">
    <div class="bg">
      <h4> <span>Name : </span>  {{plants}}</h4>
      <hr>
      <h5> <span>Land Area : </span>  {{landArea}} Acre</h5>
      <hr>
      <h5> <span>Water Liters : </span>  {{acre}} L</h5>
      <hr>
      <h5> <span>Fertilizer : </span> {{Fertilizer}} L</h5>
      <hr>
      <h5> <span>Days : </span>  120 Days</h5>
    </div>
  </div>



</div>
